@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Acme", sans-serif;
  background: url("https://steamuserimages-a.akamaihd.net/ugc/866241622021777365/9894657B47A0F44BFFB2673B7628C5CAF6CB35B4/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
